<div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
    </div>
    <div class="col-md-12 align-bottom">
      <button type="button"class="btn btn-primary pull-right" routerLink="create">Create new employee</button>
    </div>
  </div>
  <table class="col-md-12 table table-striped" style="text-align: left">
    <thead>
    <tr>
      <!-- <th></th>
      <th>Preview</th> -->
      <th>Name</th>
      <th>Platforms</th>
      <th>Released</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emplist of emplist">
      <!-- <td>
        <div class="btn-group"> 
          <button routerLink="/emplist/edit/{{emplist.id}}" class="btn btn-info btn-sm">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button (click)="delete(emplist.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </td> -->
      <td>{{emplist.name}}</td>
      <td>{{emplist.age}}</td>
      <td>{{emplist.education}}</td>
    </tr>
    </tbody>
  </table>
  